.main-section {
  background-color: #3a3e44;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 42px;
  height: 850px;
}

.signupfree-btn {
  padding-right: 20px;
}

.left-side-text {
  padding: 20px 0px 0px 80px;
}

.main-section > .left-side > .left-side-text span {
  font-weight: 500;
  color: white;
}

.main-section > .left-side > .left-side-btns {
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.main-section > .left-side > .left-side-btns > .signupfree-btn button {
  background-color: #4cce79;
  border: 1px solid #4cce79;
  border-radius: 5px;
  padding: 25px 40px;
  outline: none;
  font-size: 1.5em;
}

.main-section > .left-side > .left-side-btns > .learnmore-btn button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 25px 40px;
  outline: none;
  font-size: 1.5em;
}

.right-side h3 {
  padding: 20px 0px 0px 35px;
}

.right-side span {
  color: deepskyblue;
}

.right-side > #website {
  float: right;
  height: 85%;
}

.bottom-btns > .bottom-btn-wrapper {
  display: flex;
}

.bottom-btns > .bottom-btn-wrapper button {
  background-color: #35393e;
  color: white;
  font-size: 1.77em;
  padding: 5px 12px;
  outline: none;
  border: 1px solid #616162;
}

.bottom-btns > .bottom-btn-wrapper span {
  font-weight: 300;
}

.rest {
  height: 268px;
  background-color: #191b1e;
}

.bottom-btns {
  height: 90px;
  background-color: #35393e;
  font-size: 1.77em;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer-element {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 100%;
}
